h2 Create new user
form(action="/info/create" method="POST")
  label(id="name")
  input(type="text", placeholder="Your name", name="name")
  br
  label(id="email")
  input(type="text", placeholder="Your email", name="email")
  br
  input(type="submit")