<h1>Wellcome user system.</h1>
<h2>You can go Login Page or Register Page or User Info Page to test</h2>

<br>

<input type="submit" value="Login Page" 
    onclick="window.location='/login';" />    

<input type="submit" value="Register Page" 
    onclick="window.location='/register';" />  

<input type="submit" value="User Info Page" 
    onclick="window.location='/info';" />  