<h2>Username: <%= data.username %></h2>
<h2>Info: <%= data.info %></h2>

<form action="/logout" method="post">
    <div class="container">       
      <button type="submit">Logout</button>
    </div>
  </form>